params {
    release        = 'https://ftp.ebi.ac.uk/pub/databases/metagenomics/peptide_database/current_release'
    biome          = 'root:Host-associated:Human:Digestive system'
    sample         = 1000             // keep clusters with cluster_rep % sample == 0
    shards         = 64               // protein_id ranges extracted in parallel
    max_protein_id = 11200000000L     // above the largest MGYP id in 2026_07
    outdir         = 'results'
    index          = true             // also build the index from the subset
    index_args     = ''               // extra `kmer-functional-profiler index` options
    venv           = "${projectDir}/../../.venv"  // created by setup.sh
    python         = "${params.venv}/bin/python"
    kfp            = "${params.venv}/bin/kmer-functional-profiler"
}

process {
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
    maxRetries    = 2
    withLabel: 'process_medium' {
        cpus   = 8
        memory = { 32.GB * task.attempt }
        time   = { 12.h * task.attempt }
    }
    withLabel: 'process_high_memory' {
        cpus   = 1
        memory = { 128.GB * task.attempt }
        time   = { 24.h * task.attempt }
    }
}

profiles {
    slurm {
        process.executor = 'slurm'
    }
    test {
        params.release        = "${projectDir}/../../tests/data/mini_release"
        params.sample         = 1
        params.shards         = 3
        params.max_protein_id = 999
        params.outdir         = 'results-test'
        params.index_args     = '--k 6 --t-base 0.1 --n-min 4'
        process {
            withLabel: 'process_medium' { cpus = 1; memory = 1.GB; time = 10.m }
            withLabel: 'process_high_memory' { memory = 1.GB; time = 10.m }
        }
    }
}
